<div class="bg p-3">
  <h2><a class="text-white" href="/home">Natural Disaster Data Analysis</a></h2>
</div>
<div class="row">
  <div class="col-12 text-center">
    <label><h1>Empirical View</h1></label>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <label><h3>Number of reported disaster events</h3></label>
  </div>
  <div class="col-2"></div>
    <div class="col-8 text-center">
      <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="reportedEventData"
        [labels]="reportedEventLabels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="chartColors"
        (chartClick)="onChartClick($event)">
      </canvas>
    </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <label><h3>Economy damage by Natural Disaster</h3></label>
  </div>
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="economyDamageData"
      [labels]="economyDamageLabels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="chartColors"
      (chartClick)="onChartClick($event)">
    </canvas>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-12 text-center">-->
    <!--<label><h3>Total Death by Natural Disaster</h3></label>-->
  <!--</div>-->
  <!--<div class="col-2"></div>-->
  <!--<div class="col-8 text-center">-->
    <!--<canvas-->
      <!--baseChart-->
      <!--[chartType]="'line'"-->
      <!--[datasets]="deathData"-->
      <!--[labels]="deathLabels"-->
      <!--[options]="chartOptions"-->
      <!--[legend]="true"-->
      <!--(chartClick)="onChartClick($event)">-->
    <!--</canvas>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-12 text-center">
    <label><h3>Ten deadliest natural disaster events in history</h3></label>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table table-bordered table-striped table-sm" style="width:100%">
      <thead>
      <th>Event</th>
      <th>Death toll (estimate)</th>
      </thead>
      <tbody>
      <tr *ngFor="let event of (topTenDeadliestEvent | slice:0:10 )">
        <td>{{event.year}}({{event.disasterType}}) in {{event.countryName}}</td>
        <td>{{event.totalDeaths}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <label><h3>Ranking of Events based on occurance</h3></label>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table table-bordered table-striped table-sm" style="width:100%">
      <thead>
      <th>Event</th>
      <!--<th>Death</th>-->
      </thead>
      <tbody>
      <tr *ngFor="let event of (eventsByOccurance | slice:0:10 )">
        <td>{{event.disasterType}}</td>
        <!--<td>{{event.totalDeaths}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <label><h3>Ranking of Events based on death</h3></label>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table table-bordered table-striped table-sm" style="width:100%">
      <thead>
      <th>Event</th>
      <!--<th>Death</th>-->
      </thead>
      <tbody>
      <tr *ngFor="let event of (eventsByDeath | slice:0:10 )">
        <td>{{event.disasterType}}</td>
        <!--<td>{{event.totalDeaths}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <label><h3>Top 10 countries prone to natural disasters</h3></label>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table table-bordered table-striped table-sm" style="width:100%">
      <thead>
      <th>Country</th>
      <!--<th>Death</th>-->
      </thead>
      <tbody>
      <tr *ngFor="let event of (topCountriesByOccurance | slice:0:10 )">
        <td>{{event.countryName}}</td>
        <!--<td>{{event.totalDeaths}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
