.bg-img {

  background-image: url(/assets/Images/background-1522569_1280.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ml-10 {
  margin-left: 10rem !important;
}
