<div class="text-white p-10 text-center bg-img">
  <h1 class="h1">Natural Disaster Data Analysis</h1>
  <div class="row p-5">
    <div  class="col-sm-4">
      <div class="card rounded theme p-4">
        <div class="card-body">
          <a class="p-1 text-black h5" href="/report">By Country</a>
        </div>
      </div>
    </div>
    <div  class="col-sm-4">
      <div class="card features theme rounded p-4">
        <div class="card-body">
          <a class="p-1 text-black h5" href="/compareType">Compare between Disaster Type</a>
        </div>
      </div>
    </div>
    <div  class="col-sm-4">
      <div class="card features theme rounded p-4">
        <div class="card-body">
          <a class="p-1 text-black h5" href="/compareCountry">Compare between Countries</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 pRow">
    <div  class="col-sm-6">
      <div class="card features rounded theme p-4">
        <div class="card-body">
          <a class="p-1 text-black h5" href="/map">Global Map</a>
        </div>
      </div>
    </div>
    <div  class="col-sm-6">
      <div class="card features theme rounded p-4">
        <div class="card-body">
          <a class="p-1 text-black h5" href="/empericalView">Emperical View</a>
        </div>
      </div>
    </div>
    <!--<div  class="col-sm-4">-->
      <!--<div class="card features theme rounded p-4">-->
        <!--<div class="card-body">-->
          <!--<a class="p-1 text-black h5" href="/report">Wild Fire</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>


